<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSubmitPost()" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="title"
        placeholder="Post Title"
      />
      <mat-error *ngIf="this.form.get('title')?.invalid"
        >Please enter a post title.</mat-error
      >
    </mat-form-field>
    <button mat-stroked-button type="button" (click)="imageUpload.click()">
      Upload Image
    </button>
    <input type="file" #imageUpload />
    <mat-form-field>
      <textarea
        matInput
        rows="4"
        formControlName="content"
        placeholder="Post Content"
      ></textarea>
      <mat-error *ngIf="this.form.get('content')?.invalid"
        >Please enter a post title.</mat-error
      >
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">
      {{ mode === "create" ? "Save Post" : "Save Edits" }}
    </button>
  </form>
</mat-card>
