<ng-template #loadingSpinner>
  <mat-spinner></mat-spinner>
</ng-template>
<div *ngIf="posts$ | async as posts; else loadingSpinner">
  <mat-accordion multi="true" *ngIf="posts.length > 0; else noPosts">
    <mat-expansion-panel *ngFor="let post of posts">
      <mat-expansion-panel-header>
        {{ post.title }}
      </mat-expansion-panel-header>
      <div class="image-container">
        <img [src]="post.imagePath" alt="" />
      </div>
      <p>{{ post.content }}</p>
      <mat-action-row>
        <button mat-button color="primary" [routerLink]="['/create', post.id]">
          EDIT
        </button>
        <button mat-button color="warn" (click)="onDeletePost(post.id!)">
          DELETE
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
  <ng-template #noPosts class="info-text mat-body-1">
    <p>No posts added yet!</p>
  </ng-template>
</div>
